#fu_scorll_top{width:66px;height:66px;position:fixed;right:28px;bottom:66px;display: none;}
#fu_scorll_top .f_btn{text-align: center;line-height: 66px;text-decoration: none;}
#fu_scorll_top .f_btn .iconfont{color: #f0ad4e;font-size: 66px;}