{% from 'common/macros.html' import static %}
<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include 'common/head_base.html' %}
    <link rel="stylesheet" href="{{ url_for('static',filename='front/css/front_base.css') }}">
      <link rel="stylesheet" href="{{ url_for('static',filename='common/iconfont/iconfont.css') }}">
{#    <link rel="stylesheet" href="http://at.alicdn.com/t/font_41db4n293lqv9529.css">#}
    <title>{% block title %}{% endblock %} -- char论坛</title>
    {% block head %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">python论坛</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
              <li class="active"><a href="{{ url_for('post.index') }}">首页</a></li>
          </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if front_user %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ front_user.username }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('account.profile',user_id=front_user.id) }}" class="dropdown-toggle"><img class="user-avatar" src="{{ front_user.avatar or static('common/images/logo.jpg') }}" alt="">个人中心</a></li>
                            <li><a style="margin:0 10px" href="{{ url_for('account.settings') }}">设置</a></li>
                            <li><a style="margin:0 10px" href="{{ url_for('account.logout') }}">退出登录</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ url_for('account.login') }}">登录</a></li>
                    <li><a href="{{ url_for('account.regist') }}">注册</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% block body %}
    <div class="container">
        {% block container %}{% endblock %}
    </div>
{% endblock %}
{% include 'common/back_to_top.html' %}
{% include 'common/footer.html' %}
</body>
</html>