<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<style>
		*{padding:0;margin:0;font-family:'PT serif',\5FAE\8EDF\6B63\9ED1\9AD4,\5FAE\8F6F\96C5\9ED1,\534E\6587\7EC6\9ED1;}
		body:before {content: "";background: url();position: fixed;top: 0;bottom: 0;left: 0;right: 0;z-index: -1;-webkit-filter: blur(10px);filter: blur(10px);margin: -10px;will-change: inherit;}
		img.avatar.photo {border-radius: 100%;-moz-border-radius: 100%;}
		.title{padding:3%;text-align:center;background:#CCCCCC;}
		.title h1,.title h2{color:#FFFFFF;}
		</style>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>啊列？！</title>
	</head>
	<body>
		<section class="title" id="title">
			<h1>OAQ 居然什么都没发生 !</h1>
			<h2>还是回去想想办法吧～</h2>
		</section>
		<script>
			var 高度 = document.documentElement.clientHeight;
			var 半个高度 = 高度*0.5;
			var 半半个高度 = 高度*0.3;
			document.getElementById("title").style.marginTop=半个高度+"px";
		</script>
	</body>
</html>