{% from 'common/macros.html' import static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - CMS论坛管理系统</title>
    {% include 'common/head_base.html' %}
    <link rel="stylesheet" href=" {{ static('cms/css/cms_base.css') }} ">
    <script src=" {{ static('cms/js/cms_base.js')  }} "></script>
    {% block head %}{% endblock %}
</head>
<body>
     <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Python论坛CMS管理系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('cms.profile') }}">{{ cms_user.username }}<span>[{{ cms_user.roles[0].name }}]</span></a></li>
            <li><a href="{{ url_for('cms.logout') }}">注销</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="查找...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
          <div class="col-sm-3 col-md-2 sidebar">
              <ul class="nav-sidebar">
                <li class="unfold"><a href="{{ url_for('cms.index') }}">首页</a></li>
                <li class="profile-li">
                    <a href="#">个人中心<span></span></a>
                    <ul class="subnav">
                        <li><a href="{{ url_for('cms.profile') }}">个人信息</a></li>
                        <li><a href="{{ url_for('cms.resetpwd') }}">修改密码</a></li>
                        <li><a href="{{ url_for('cms.resetmail') }}">修改邮箱</a></li>
                    </ul>
                </li>

                <li class="nav-group post-manage"><a href="{{ url_for('cms.posts') }}">帖子管理</a></li>
                <li class="comments-manage"><a href="#">评论管理</a></li>
                <li class="board-manage"><a href="{{ url_for('cms.boards') }}">板块管理</a></li>

                <li class="nav-group user-manage"><a href="{{ url_for('cms.all_frontuser') }}">用户管理</a></li>
                <li class="role-manage"><a href="#">组管理</a></li>

               {% if cms_user.is_superadmin %}
                    <li class="nav-group cmsuser-manage"><a href="{{ url_for('cms.all_cmsuser') }}">CMS用户管理</a></li>
                    <li class="cmsrole-manage"><a href="#">CMS组管理</a></li>
               {% endif %}
            </ul>
          </div>
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1>{% block page_title %}{% endblock %}</h1>
            <div class="main_content">{% block main_content %}{% endblock %}</div>
          </div>
      </div>
    </div>
</body>
</html>